md-toolbar.navBar.iOS {
	min-height: 76px;
	padding-top: 19px;
}

.navBar {
	box-shadow: 0px 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 0px 2px 2px rgba(0, 0, 0, 0.098), 0px 0px 5px 1px rgba(0, 0, 0, 0.084);
}

.navBar .md-button {
	min-width: 40px;
}

.navBar .leftButton .md-button {
	margin-left: -8px;
}

.navBar .rightButtons .md-button:last-child {
	margin-right: -8px;
}

.navBar .md-button md-icon {
	color: rgba(255, 255, 255, .87);
}

.navBar .md-button md-icon svg {
	fill: rgba(255, 255, 255, .87);
}

.navBar h2 {
	overflow: hidden;
}

.navBar h2 span {
	display: inline-block;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}