md-sidenav.md-locked-open{
	width: 272px;
	min-width: 272px;
	max-width: 272px;	
}

side-menu .actived {
	background-color: #ccc;
}

side-menu md-switch {
	margin-top: 0;
	margin-bottom: 0;
}

side-menu md-list-item .md-list-item-inner>md-icon:first-child:not(.md-avatar-icon) {
	margin-right: 20px;
}

side-menu .item-list-switch-on p {
  color: red;
}

side-menu .item-list-switch-on svg {
	fill: red;
}

side-menu md-sidenav md-toolbar.navBar {
	background-image: url('../assets/imgs/sidemnu-user-bg.png');
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	height: 148px;
	min-height: 148px;
	max-height: 148px;
}

side-menu .md-avatar {
	width: 64px;
	height: 64px;
	border-radius: 100%;
	box-shadow: 0px 1px 0px 1px rgba(0,0,0,.6);
}

side-menu .user-info {
	position: relative;
	margin: 20px 20px 0 20px;
}

side-menu .user-info .md-subhead {
	font-weight: 700;
	margin: 15px 0 0 0;
	line-height: 1;
	text-shadow: 0px 1px 0px 1px rgba(0,0,0,.6);
}

side-menu .user-info .md-body-1 {
	margin: 0;
}

side-menu .user-info .md-icon-button {
	position: absolute;
	top: 0;
	right: 0;
}