
[side-menu] {

	.close-side-menu {
		position: absolute;
		top: 5px;
		left: 0px;
	}

	.logo {
		display: block;
		height: auto;
		max-height: 140px;
		margin-top: 20px;
	}

	.md-headline {
		text-align: center;
	}

}
