
<div
	layout-row
	layout-padding
	layout-wrap
>

	<md-card
		flex-xs
		flex-sm
		flex-gt-sm="50"
	>
		<md-card-title
			layout-xs="column"
			layout-sm="column"
		>
			<md-card-title-media
				layout="row"
				layout-align="center center"
			>
				<img class="picture" src="/assets/imgs/avatar.svg" />
			</md-card-title-media>
			<md-card-title-text>
				<span class="md-headline">
					Roberto Robson Soares Nogueira
				</span>
				<md-button
					ng-href="mailto:betorobson@gmail.com"
				>
					<md-icon
						md-svg-src="/assets/icons/email.svg"
					></md-icon>
					betorobson@gmail.com
				</md-button>
				<md-button
					ng-href="tel:+5511989280284"
				>
					<md-icon
						md-svg-src="/assets/icons/phone.svg"
					></md-icon>
					+55-11-989-280-284
				</md-button>
			</md-card-title-text>
		</md-card-title>
	</md-card>

	<md-card
		flex="100"
	>
		<md-card-content>
			<p>
				Having more than 14 years of experience in complex high traffic
				website environments, I've been focusing In the last 4 years on
				native and hybrid mobile apps as well as Single Page Applications
				based on most popular web components and frameworks.
			</p>
			<p>
				Great knowledge developing libraries, modules and components focused
				on increasing productivity, standardization and cross-browser
				compatibility issues.
			</p>
			<p>
				I'm always working side-by-side with designers and also connected
				with the business areas to have a deep understanding of all
				important information related to a project.
			</p>
		</md-card-content>
	</md-card>

</div>
