<md-sidenav
	md-component-id="sidemenu"
	md-is-locked-open="$mdMedia('gt-md')"
	class="md-sidenav-left md-whiteframe-z2"
	layout="column"
	layout-fill
	flex
>

	<md-content flex md-scroll-y layout="column">
	
	<md-toolbar class="navBar md-tall" ng-class="{'iOS': iOS}">
		<div class="user-info" layout="column">
			<img ng-src="assets/imgs/avatar.jpg" class="md-avatar" />
			<h1 class="md-subhead">User First Name</h1>
			<p class="md-body-1">username@email.com</p>
			<md-button
				ng-click="close()"
				aria-label="Menu"
				md-ripple-size="auto"
				class="md-icon-button"
				hide-gt-md
			>
				<md-icon md-svg-icon="assets/icons/back.svg"></md-icon>
				</md-icon>
			</md-button>
		</div>
	</md-toolbar>

	<md-list flex="noshrink">

		<md-list-item
			ng-class="{'actived': item.go == sideMenuActivedItem}"
			ng-repeat="item in sideMenuItems"
			ng-click="go(item.go,false)"
		>
				<md-icon md-menu-align-target md-svg-icon="{{getIcon(item)}}"></md-icon>
				<p>{{item.label}}</p>
		</md-list-item>

	</md-list>

	<md-divider></md-divider>

	<md-list>
		<md-subheader class="md-no-sticky">Configurações</md-subheader>
		<md-list-item
			ng-class="{'item-list-switch-on' : setting.enabled}"
			ng-repeat="setting in settings"
		>
			<md-icon md-svg-icon="{{getIcon(setting)}}"></md-icon>
			<p> {{ setting.name }} </p>
			<md-switch class="md-warn" ng-model="setting.enabled"></md-switch>
		</md-list-item>
	</md-list>

	</md-content>
		
</md-sidenav>